<!DOCTYPE html>
<html>
<head>
    <title>Storage - Secret</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="matrix-bg"></div>
    <div class="container">
        <h1>Your <span class="highlight">Stored Files</span></h1>
        <ul>
            {% for file in files %}
            <li><a href="{{ url_for('uploaded_file', filename=file) }}" target="_blank">{{ file }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <a href="/">Go Back</a> | <a href="/logout">Logout</a>
    </div>
</body>
</html>
